.aot{background-color: black;
}

.fun{color: chartreuse;}
.fuc{color: rgb(45, 143, 189);}
.funny{color:red ;}
.nfsm{color: white;}
.ghi{color: rgb(230, 243, 54);}
.gun{color: cyan;}
.man{color: white;}
.rono{color: coral;}
.fifa{color: white;}
.sunith{background-color: rgb(247, 6, 214);height: 10%;width: 18%;}
.gta{ 
 color: #fafaf5;
width: 500px;
font-style: italic;}

.su{height: 10%;width: 18%;

color:cyan ; background-color: aquamarine; }

.minecraft{color: white;}

.sun{background-color: rgb(20, 230, 125);
height: 10%; width: 18%;
}

.suni{height: 10%;width: 18%;
background-color: cyan;}

.sunit{height: 10%;width: 18%;
background-color: rgb(243, 143, 12);}